/* AboutContent.css */
.Community_container{
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%; 
}
.Community_list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 800px;
  padding: 20px;
  gap: 30px; /* 간격 추가 */ 
}
.Community_list li.Community_li{
  height: 300px;
  color: rgba(255,255,255,0.6);
  font-size:50px;
  text-align: center;
  /* transform: translateY(-150px); */
  transform: translateY(-284px);
}
/* .Community_list p {
  width: 100%;
  font-size: 11px;
  height: 500px;
  padding: 15px;
  line-height: 2;
} */
#usersCommunityContent {
  max-width: 1200px;
  /* min-width: 1200px; */
  min-width: 800px;
  margin: 0 auto;
  margin-top:15px;
  margin-bottom: 60px;
  /* padding: 0 50px; */
}
/* #usersCommunityContent .table-height-fixed {
  margin-bottom: 10px;
} */
#usersCommunityContent .contentTable {
  font-size: 11px;
}
#usersCommunityContent .modal-item-text {
  margin-left: 6px;
}
#usersCommunityContent .table {
  --bs-table-bg: rgba(0,0,0,0.5);
  --bs-table-color: #ffffff;
  --bs-table-hover-color: #c0c0c0;
  border-color: #373737;
  font-size: 11px;
}
#usersCommunityContent .pagination {
  font-size: 11px;
  --bs-pagination-bg: rgba(0,0,0,0.5);
  --bs-pagination-border-color: #373737;
  --bs-pagination-focus-bg: rgba(59, 59, 59, 0.5);
  --bs-pagination-active-bg: rgba(0,0,0,0.5);
  --bs-pagination-active-border-color: #ffffff;
  --bs-pagination-hover-bg: rgba(59, 59, 59, 0.5);
  --bs-pagination-disabled-color: rgba(255, 255, 255, 0.75);
  --bs-pagination-disabled-bg: rgba(0,0,0,0.5);
  --bs-pagination-disabled-border-color: #373737;
}
#usersCommunityContent .pagination .page-link {
  color: #ffffff !important;
  background-color: rgba(0,0,0,0.5);
}
#usersCommunityContent .pagination .page-link:hover {
  color: #ffffff !important;
  background-color: rgba(0,0,0,0.5);
}
#usersCommunityContent .table-cell {
  white-space: nowrap;       /* 텍스트 줄 바꿈을 하지 않도록 설정 */
  overflow: hidden;          /* 넘치는 텍스트는 숨김 처리 */
  text-overflow: ellipsis;   /* 넘치는 텍스트는 '...'으로 표시 */
}
#usersCommunityContent .detailFormWrap {
  padding: 20px;
  border: 1px solid #ddd;
}
#usersCommunityContent span {
  margin: 0;
}

#usersCommunityContent .detail-page .btn {
  font-size: 11px;
  padding: 9px 15px;
  --bs-btn-bg: rgba(0,0,0,0.5);
  --bs-btn-border-color: #373737;
  --bs-btn-hover-bg: rgba(0,0,0,0.5);
  --bs-btn-hover-border-color: #ffffff;
  margin-top: -40px;
}

