/* Footer style*/
#Footer {
  width: 100%;
  position: fixed; /* 화면 하단에 고정 */
  bottom: 0;
  left: 0;
  background-color: #000;
  border: 1px solid #0c0b0b;
  z-index: 1000; /* 다른 요소 위에 표시 */
}
.Footer_container {
  height: 200px;
  max-width: 1200px; /* 중앙 정렬을 위한 최대 너비 */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center; /* 수직 중앙 정렬 */
  color: #faf4f4;
  border: 1px solid #b10d0d;
}
h1{
  margin: 30px;
  border: 1px solid #f55050;
}
.conection_foot{
  width: 330px;
  margin: 30px;
  margin-left: 300px;
  border: 1px solid #57b76d;
}
.conection_foot h3{
  font-size: 18px;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  letter-spacing: 1px;
}
.conection_foot h3::first-letter{
  font-size: 22px;
}
.conection_foot li{
  margin-top: 3px;
  font-size: 9px;
}

.location_foot{
  width: 740px;
  margin: 50px;
  border: 1px solid #4785f1;
}
.location_foot p{
  margin-top: 5px;
  font-size: 8px;
  border: 1px solid #c24ea3;
}
.horizon{
  width: 100%;
  height: 1px; 
  border: 1px solid #ccc;
  margin: 0 auto;
}
.copyright_foot{
  color: #f9f7f7;
  display: flex;
  flex-wrap: nowrap;
  border: 1px solid #1283a2;
}
.admin{
  margin: 30px;
  border: 1px solid #1283a2;
  font-size: 9px;
}
span{
  margin: 30px;
  margin-left: 10px;
  font-size: 9px;
  border: 1px solid #72dda6;
}

.reservation_box{
  width: 100px;
  height: 30px;
  color: #f9f7f7;
  margin: 30px;
  font-size: 10px;
  margin-left: 850px;
  padding-top: 5px;
  text-align: center;
  border: 1px solid rgba(214,211,211,.5); /* .5 opcity*/
}