/* Footer style*/
#Footer {
  width: 100%;
  height: 70px;
  position: fixed; 
  left: 0;
  bottom: 0; 
  background-color: rgba(45, 45, 45, 0.5);
  color: #fff;
  z-index: 1000; 
  transition: height 0.5s ease; 
}
#Footer:hover{
  height: 200px;
}

.Footer_container {
  width: 100%;
  height: 150px;
  max-width:auto; 
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 10px;
  color: #faf4f4;
}

/*//////////////////임시추가 로그아웃버튼색변경*/
.logout-button {
  color: white;
}
.logout-button:hover {
  color: #888888;
}
/*/////////////////////*/

h2{
  margin:20px 30px;
}
.conection_foot{
  width: 300px;
  margin-top: 10px;
  margin-left: 300px;
  
}
.conection_foot h3{
  font-size: 19px;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  letter-spacing: 1px;
}
.conection_foot h3::first-letter{
  font-size: 26px;
}
.conection_foot li{
  margin-top: 0px;
  font-size: 10px;
  line-height: 15px;
  display:none;
}

.location_foot{
  width: 740px;
  margin: 10px 30px ;
 
}
.location_foot p{
  margin-top: 10px;
  font-size: 9px;
  display: none; 
}
.location_foot:hover{
  margin-top: 5px;
}

#Footer:hover .conection_foot li, #Footer:hover .location_foot p {
  display: block;
}

.horizon{
  width: 100%;
  border-bottom: 1px solid #fff;
  
}
.copyright_foot{
  color: #f9f7f7;
  display: flex;
  height: 50px;
  flex-wrap: nowrap;
  /* border: 1px solid #1283a2; */
}
.admin, span {
  margin: 10px 0 0 30px;
  font-size: 12px;
}

.reservation_box{
  width: 150px;
  height: 30px;
  color: #f9f7f7;
  margin: 10px 30px ;
  font-size: 13px;
  padding-top: 5px;
  text-align: center;
  border: 1px solid rgba(214,211,211,.5);
  margin-left: auto;
}

/* 반응형  */
@media (max-width: 600px) {
  h2 {
    display: none;
  }
  #Footer {
    height: 370px;
    display: block !important ;
  } 
  #Footer:hover{
    height: 370px;
  }
  .Footer_container {
    flex-direction: column; 
    align-items: center;
    height: auto; 
    padding: 20px;
   
  }
  .conection_foot {
    margin-left: 0;
    width: 100%;
    text-align: center;
    
  }
  .conection_foot h3 {
    margin-bottom:10px ;
  }
  .conection_foot li {
   padding: 2px;
   display: block ;
  }

  .location_foot {
    margin: 10px 0;
    width: 100%;
    text-align: center;
    display: block;
  }
  .location_foot:hover{
    margin-top: 0;
  }
  .location_foot p{
    display: block;
  } 
  .conection_foot, .location_foot {
    display: block ;
  }
}