
/* 두번째 호리즌슬라이드 페이지 */

.horizontal_slider_container {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: visible;
}

.inner_image_area {
  width: 70%; 
  height: 100vh;
  position: relative;
  overflow:visible;
}

.inner_image_area img {
  width: 100%; 
  height: 100vh; 
  object-fit: cover; 
  display: block; 
}

.inner_info_area {
  width: 30%;
  height: 100%;
  background-color: #080808; 
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
  box-sizing: border-box;
  z-index: 5;
  /* border:3px solid #7bff6f; */
}

.inner_info_area h2 {

  width: 220px;
  font-size: 2rem;
  margin-bottom: 20px;
  margin-left:40px ;
  white-space: nowrap; 
  overflow: hidden; 
  
}
.inner_info_area p {
  width: 190px;
  line-height: 22px;
  font-size: 0.9rem;
  margin-bottom: 30px;
  margin-left:40px ;
  
}

.inner_info_area ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  margin-left:40px ;
  
}

.inner_info_area ul li {
  margin-bottom: 10px;
  font-size: 0.8rem;
}

.learn_more_btn {
  margin-top: 80px;
  margin-left:50px ;
  border-radius: 2%;
  background-color: rgba(255, 255, 255, 0.9);
  color: #000;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;

}

.learn_more_btn:hover {
  transition: transform 0.3s ease, font-size 0.3s ease;
  background-color: rgb(186, 247, 255);
  color: #000;
}

/* inner_pagenation  */
:root {
  --swiper-pagination-color: white !important ;
  --swiper-pagination-bullet-size: 8px !important;
  --swiper-pagination-bullet-inactive-color: rgba(255, 255, 255, 0.7);
}
.swiper {
  width: 100%;
  height: 100vh;
}


/* 이너 페이지네이션 */
div.inner_pagination {
  height: 30px;
  position: absolute !important ;
  top: 13% !important; 
  right: auto !important;
  left: 80% !important;  
  transform: translateX(30%) !important;
  display: flex;
  gap: 20px;
  z-index: 150;
  /* border: 2px solid #f3f0f0; */
}

/* 비활성 상태 호버 시 */
.custom-bullet:hover::after,
.custom-bullet.custom-bullet-active::after
{
  content: "";
  position: absolute;
  inset: -9px; 
  border: 1.5px solid rgba(255, 255, 255, 0.9); 
  border-radius: 50%;
  pointer-events: none;
  opacity: 0.8;
  transition: all 0.7s ease;
}

/* 활성 상태에서 추가 테두리 유지 */
.custom-bullet.custom-bullet.active:hover::after 
 {
  border: 1px solid white;
  opacity: 1;
  transition: all 0.7s ease;
}
/* 이미지영역 */



.swiper-pagination-bullet-active {
  width: 10px;
  height: 10px;;
}