/* MenuLink style */
.menu_container{
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  
}
.menu_list{
  position: absolute;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(255,255,255,0.8);
  
}
.menu_list li{
  margin:50px 10px ;
  color: rgba(255,255,255,0.6);
  font-size:50px;
  border: 1px solid rgba(255,255,255,0.8);
  text-align: center;
  align-items: center
  ;
}
.menu_list li a:hover {
  color: rgba(255,255,255,0.6);
  font-weight: bold;
}