/* MenuLink style */
.menu_container{
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  
}
.menu_list{
  position: absolute;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
.menu_list li{
  margin:50px 10px ;
  color: rgba(170, 169, 169, 0.6);
  font-size:50px;
  text-align: center;
  align-items: center;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.menu_list li a:hover {
  color: rgba(126, 124, 124, 0.9);
  font-size:55px;
  transform: translateY(-70px); 
  box-shadow: 0 36px 36px 0 rgba(90, 90, 90, 0.2);
  border-radius: 20px;
}