.cell_container {
    float: left;
    width: 45%;
    border: 2px solid rgb(255, 0, 221);
    padding: 5px;
    margin:10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cell_room {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    padding: 10px;
    border: 2px solid grey;
    background-color: #ddd;
    border-radius: 8px;
    text-align: center;
}
