#userPageContainer {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    z-index:0;
  }
  
  /* 배경 이미지에만 투명도 적용 */
  #userPageContainer::before {
    content: "";
    position: absolute;
    /* pointer-events: none; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/headerBackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(60%); 
    z-index: -1; 
  }
  