/*회원가입 완료 페이지 css*/


.signup-complete-page {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.signup-complete-page h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.signup-steps {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.rewards-card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.rewards-card img {
    width: 150px;
}

.user-info p {
    margin: 5px 0;
    font-size: 14px;
}

.special-offer {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#home-button, #promo-button {
    width: 150px;
    color: #fff;
    font-weight: bold;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-color: #ffc06d;


}


