/*그거뭐야 관문 페이지*/

.terms_page {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}

.terms_page h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.terms_page p {
    font-size: 14px;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
    text-align: center;
}

.terms_checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.terms_checkbox label {
    font-size: 14px;
    color: #333;
    cursor: pointer;
}

.terms_checkbox input[type="checkbox"] {
    margin-right: 10px;
    cursor: pointer;
}

/* 버튼 스타일 */
button#terms_agree_button {
    width: 150px;
    text-align: center;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #ffc06d;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button#terms_agree_button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button#terms_agree_button:hover:enabled {
    background-color: #ffb347;
}
