/* 배경 이미지와 레이아웃 설정 */
.login-page {
    height: 50vh; /* 화면 전체 높이 */
    display: flex;
    flex-direction: column;
    justify-content: center; /* 중앙 정렬 (수직) */
    align-items: center; /* 중앙 정렬 (수평) */
    background-color: rgba(255, 255, 255, 0.11);

    color: rgba(255, 255, 255, 0.82);
    background-size: cover; /* 화면에 꽉 차게 배경 이미지 적용 */
    background-position: center;
    background-repeat: no-repeat;
    position: relative; /* 배경 이미지의 부모 요소 */

    margin-bottom: 240px; /* 24.12.17 지은 : 임시로 추가*/
}

/* 로그인 박스 스타일 */
.login-container {
    width: 400px; /* 로그인 창의 너비 */
    padding: 30px;
    background: rgba(0, 0, 0, 0.6); /* 투명한 검정색 배경 */
    border-radius: 10px; /* 테두리 둥글게 */
    color: #fff; /* 텍스트 색상 */
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

}

/* 제목 스타일 */
.login-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #ffc06d;
}

/* 입력 필드 스타일 */
.login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

/* 로그인 버튼 스타일 */
.custom-login-button {
    width: 100%;
    background-color: #ffc06d; /* 버튼 색상 */
    color: #fff;
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-login-button:hover {
    background-color: #ffaf41; /* 호버 시 버튼 색상 변경 */
}

/* 링크 스타일 */
.login-options .btn-link {
    background: none;
    color: #ffc06d;
    border: none;
    cursor: pointer;
    font-size: 12px;
    margin: 5px;
}

.login-options .btn-link:hover {
    text-decoration: underline;
}

/* 오류 메시지 스타일 */
.error-message {
    color: red;
    margin-bottom: 10px;
}
